body {
  padding-top: 360px;
}

.img-gallery-title {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.main-gallery {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.img-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.gallery-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.img-text {
  color: #bdbfc3;
}